html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-color: rgb(230, 192, 255); 
}

.header
{
	color:rgb(148, 79, 194); font-family: 'Amatic SC';font-size: 60px;letter-spacing: 10px;margin-top: 80px; font-weight: 500;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255, 255, 255, 0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
	font-family: 'DM Sans';
	color: rgb(255, 255, 255);
}


#logout
{
	font-size: 20px; float: right;
}


#trending_rooms, #output
{
	padding: 10px; width:80%;background: rgb(207, 142, 250);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: blue;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: rgb(51, 22, 83);
	font-family: 'Lora';
	font-size: 17px;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
	font-family: 'DM Sans';
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}

#welcome{
	font-family: 'Mouse Memoirs'; font-size: 35px;
}
